1) Prepare a classification model using SVM for salary data 

Data Description:

age -- age of a person
workclass	-- A work class is a grouping of work 
education	-- Education of an individuals	
maritalstatus -- Marital status of an individulas	
occupation	 -- occupation of an individuals
relationship -- 	
race --  Race of an Individual
sex --  Gender of an Individual
capitalgain --  profit received from the sale of an investment	
capitalloss	-- A decrease in the value of a capital asset
hoursperweek -- number of hours work per week	
native -- Native of an individual
Salary -- salary of an individual

In [19]:
import pandas as pd
from sklearn.svm import SVC

In [20]:
salary_data_train=pd.read_csv('SalaryData_Train.csv')

# Data Understaing

In [3]:
salary_data_train.head(50)

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,34,Private,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
15,25,Self-emp-not-inc,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
16,32,Private,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
17,38,Private,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
18,43,Self-emp-not-inc,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
19,40,Private,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
20,54,Private,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
21,35,Federal-gov,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
22,43,Private,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
23,59,Private,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
24,56,Local-gov,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
25,19,Private,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
26,39,Private,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
27,49,Private,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
28,23,Local-gov,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,White,Male,0,0,52,United-States,<=50K
29,20,Private,Some-college,10,Never-married,Sales,Own-child,Black,Male,0,0,44,United-States,<=50K
30,45,Private,Bachelors,13,Divorced,Exec-managerial,Own-child,White,Male,0,1408,40,United-States,<=50K
31,30,Federal-gov,Some-college,10,Married-civ-spouse,Adm-clerical,Own-child,White,Male,0,0,40,United-States,<=50K
32,22,State-gov,Some-college,10,Married-civ-spouse,Other-service,Husband,Black,Male,0,0,15,United-States,<=50K
33,48,Private,11th,7,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,Puerto-Rico,<=50K
34,21,Private,Some-college,10,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,40,United-States,<=50K
35,19,Private,HS-grad,9,Married-AF-spouse,Adm-clerical,Wife,White,Female,0,0,25,United-States,<=50K
36,48,Self-emp-not-inc,Assoc-acdm,12,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
37,31,Private,9th,5,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,43,United-States,<=50K
38,53,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
39,24,Private,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,50,United-States,<=50K
40,49,Private,HS-grad,9,Separated,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
41,25,Private,HS-grad,9,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,35,United-States,<=50K
42,57,Federal-gov,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,0,40,United-States,>50K
43,53,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,38,United-States,<=50K
44,44,Private,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,40,United-States,<=50K
45,41,State-gov,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
46,29,Private,Assoc-voc,11,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,43,United-States,<=50K
47,25,Private,Some-college,10,Married-civ-spouse,Exec-managerial,Wife,Other,Female,0,0,40,United-States,<=50K
48,47,Private,Prof-school,15,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,1902,60,Honduras,>50K
49,50,Federal-gov,Bachelors,13,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,55,United-States,>50K

In [4]:
salary_data_train.shape

(30161, 14)

In [5]:
salary_data_train.dtypes

age               int64
workclass        object
education        object
educationno       int64
maritalstatus    object
occupation       object
relationship     object
race             object
sex              object
capitalgain       int64
capitalloss       int64
hoursperweek      int64
native           object
Salary           object
dtype: object

In [6]:
salary_data_train.isna().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [7]:
salary_data_train.occupation.value_counts()

 Prof-specialty       4038
 Craft-repair         4030
 Exec-managerial      3992
 Adm-clerical         3721
 Sales                3584
 Other-service        3212
 Machine-op-inspct    1965
 Transport-moving     1572
 Handlers-cleaners    1350
 Farming-fishing       989
 Tech-support          912
 Protective-serv       644
 Priv-house-serv       143
 Armed-Forces            9
Name: occupation, dtype: int64

# DATA PREPARATION

In [8]:
salary_data_train.drop_duplicates(inplace=True)
salary_data_train

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30154,53,Private,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
30155,22,Private,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
30156,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
30158,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
30160,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [9]:
cols=['workclass','education','maritalstatus','occupation','relationship','race','sex','native','Salary']

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
salary_data_train[cols]=salary_data_train[cols].apply(LabelEncoder().fit_transform)

In [12]:
salary_data_train.head(50)

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,5,9,13,4,0,1,4,1,2174,0,40,37,0
1,50,4,9,13,2,3,0,4,1,0,0,13,37,0
2,38,2,11,9,0,5,1,4,1,0,0,40,37,0
3,53,2,1,7,2,5,0,2,1,0,0,40,37,0
4,28,2,9,13,2,9,5,2,0,0,0,40,4,0
5,37,2,12,14,2,3,5,4,0,0,0,40,37,0
6,49,2,6,5,3,7,1,2,0,0,0,16,21,0
7,52,4,11,9,2,3,0,4,1,0,0,45,37,1
8,31,2,12,14,4,9,1,4,0,14084,0,50,37,1
9,42,2,9,13,2,3,0,4,1,5178,0,40,37,1
10,37,2,15,10,2,3,0,2,1,0,0,80,37,1
11,30,5,9,13,2,9,0,1,1,0,0,40,17,1
12,23,2,9,13,4,0,3,4,0,0,0,30,37,0
13,32,2,7,12,4,11,1,2,1,0,0,50,37,0
14,34,2,5,4,2,13,0,0,1,0,0,45,24,0
15,25,4,11,9,4,4,3,4,1,0,0,35,37,0
16,32,2,11,9,4,6,4,4,1,0,0,40,37,0
17,38,2,1,7,2,11,0,4,1,0,0,50,37,0
18,43,4,12,14,0,3,4,4,0,0,0,45,37,1
19,40,2,10,16,2,9,0,4,1,0,0,60,37,1
20,54,2,11,9,5,7,4,2,0,0,0,20,37,0
21,35,0,6,5,2,4,0,2,1,0,0,40,37,0
22,43,2,1,7,2,13,0,4,1,0,2042,40,37,0
23,59,2,11,9,0,12,4,4,0,0,0,40,37,0
24,56,1,9,13,2,12,0,4,1,0,0,40,37,1
25,19,2,11,9,4,2,3,4,1,0,0,40,37,0
26,39,2,11,9,0,3,1,4,1,0,0,80,37,0
27,49,2,11,9,2,2,0,4,1,0,0,40,37,0
28,23,1,7,12,4,10,1,4,1,0,0,52,37,0
29,20,2,15,10,4,11,3,2,1,0,0,44,37,0
30,45,2,9,13,0,3,3,4,1,0,1408,40,37,0
31,30,0,15,10,2,0,3,4,1,0,0,40,37,0
32,22,5,15,10,2,7,0,2,1,0,0,15,37,0
33,48,2,1,7,4,6,4,4,1,0,0,40,31,0
34,21,2,15,10,4,6,3,4,1,0,0,40,37,0
35,19,2,11,9,1,0,5,4,0,0,0,25,37,0
36,48,4,7,12,2,9,0,4,1,0,0,40,37,0
37,31,2,6,5,2,6,0,4,1,0,0,43,37,0
38,53,4,9,13,2,9,0,4,1,0,0,40,37,0
39,24,2,9,13,2,12,0,4,1,0,0,50,37,0
40,49,2,11,9,5,0,4,4,0,0,0,40,37,0
41,25,2,11,9,4,5,1,4,1,0,0,35,37,0
42,57,0,9,13,2,9,0,2,1,0,0,40,37,1
43,53,2,11,9,2,6,0,4,1,0,0,38,37,0
44,44,2,12,14,0,3,4,4,0,0,0,40,37,0
45,41,5,8,11,2,2,0,4,1,0,0,40,37,0
46,29,2,8,11,4,9,1,4,1,0,0,43,37,0
47,25,2,15,10,2,3,5,3,0,0,0,40,37,0
48,47,2,14,15,2,9,5,4,0,0,1902,60,14,1
49,50,0,9,13,0,3,1,4,1,0,0,55,37,1

# Feature Selection

In [13]:
x=salary_data_train.drop('Salary',axis=1)
y=salary_data_train['Salary']

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [15]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=.20,random_state=123,stratify=y)

In [16]:
from sklearn.feature_selection import RFE
from lightgbm import LGBMClassifier

In [17]:
def svv(xtrain,xtest,ytrain,ytest):
    svv_cl=SVC()
    svv_cl.fit(xtrain,ytrain)
    ypred2=svv_cl.predict(xtest)
    print('Accuracy Score:',accuracy_score(ytest,ypred2))
    return 'Accuracy Score:',accuracy_score(ytest,ypred2)

In [ ]:
for i in range(1,14):
    rfe=RFE(estimator=LGBMClassifier(n_estimators=100),n_features_to_select=i)
    rfe.fit(xtrain,ytrain)
    rfe_train1=rfe.transform(xtrain)
    rfe_test1=rfe.transform(xtest)
    print('no of features-',i)
    svv(rfe_train1,rfe_test1,ytrain,ytest)
    print('==========================================')

# 5 FEATURE GIVE SAME ACCURACY AS COMPARE TO 13 FEATURES

#    MODEL Evaluation

# Train Data

In [21]:
Rfe_select=RFE(estimator=LGBMClassifier(n_estimators=100),n_features_to_select=5)

In [22]:
Rfe_select.fit(xtrain,ytrain)

RFE(estimator=LGBMClassifier(), n_features_to_select=5)

In [23]:
rfe_train2=Rfe_select.transform(xtrain)
rfe_test2=Rfe_select.transform(xtest)

In [24]:
rfe_train2.shape

(21522, 5)

In [25]:
Svv_model=SVC()

In [26]:
Svv_model.fit(rfe_train2,ytrain)

SVC()

In [27]:
ypred_train=Svv_model.predict(rfe_train2)

In [28]:
print('Accuracy_score:',accuracy_score(ytrain,ypred_train))

Accuracy_score: 0.7930954372270235

# TEST DATA

In [29]:
ytest_pred=Svv_model.predict(rfe_test2)

In [30]:
print('Accuracy_score:',accuracy_score(ytest,ytest_pred))

Accuracy_score: 0.7978070990522208

# For Alternative Test Data

In [32]:
salary_data_test=pd.read_csv('SalaryData_Test.csv')
salary_data_test

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,Private,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
15056,39,Private,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K
15057,38,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
15058,44,Private,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
15059,35,Self-emp-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

In [37]:
salary_data_test.isna().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [39]:
salary_data_test.drop_duplicates(inplace=True)

In [40]:
cols1=['workclass','education','maritalstatus','occupation','relationship','race','sex','native','Salary']

In [41]:
salary_data_test[cols1]=salary_data_test[cols1].apply(LabelEncoder().fit_transform)

In [42]:
salary_data_test

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,2,1,7,4,6,3,2,1,0,0,40,37,0
1,38,2,11,9,2,4,0,4,1,0,0,50,37,0
2,28,1,7,12,2,10,0,4,1,0,0,40,37,1
3,44,2,15,10,2,6,0,2,1,7688,0,40,37,1
4,34,2,0,6,4,7,1,4,1,0,0,30,37,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,2,9,13,4,9,3,4,1,0,0,40,37,0
15056,39,2,9,13,0,9,1,4,0,0,0,36,37,0
15057,38,2,9,13,2,9,0,4,1,0,0,50,37,0
15058,44,2,9,13,0,0,3,1,1,5455,0,40,37,0
15059,35,3,9,13,2,3,0,4,1,0,0,60,37,1

In [43]:
x_test=salary_data_test.drop('Salary',axis=1)
y_test=salary_data_test['Salary']

In [45]:
Rfe_select.fit(x_test,y_test)

RFE(estimator=LGBMClassifier(), n_features_to_select=5)

In [46]:
test_data_5_features=Rfe_select.transform(x_test)

In [49]:
ytest_pred=Svv_model.predict(test_data_5_features)

In [50]:
print('Accuracy_score:',accuracy_score(y_test,ytest_pred))

Accuracy_score: 0.7960368011323425